.card {
    -fx-background-color: #F4F4F4;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 2, 0);
}

.card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 2, 0);
}

.normalText {
    -fx-font-size: 16px;
}

.titleText {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.normalState {
    -fx-font-weight: bold;
    -fx-text-fill: #04B700;
    -fx-background-color: transparent;
}

.normalStateChart .chart-series-area-fill {
    -fx-fill: #d7f8da;
}

.normalStateChart .chart-series-area-line {
    -fx-stroke: #04B700;
}

.alarmState {
    -fx-font-weight: bold;
    -fx-text-fill: #842029;
    -fx-background-color: #F8D7DA;
}

.alarmStateChart .chart-series-area-fill {
    -fx-fill: #F8D7DA;
}

.alarmStateChart .chart-series-area-line {
    -fx-stroke: #842029;
}

.transparentPane {
    -fx-background-color: transparent;
}

.button, .toggle-button, .outlined-btn  {
    -fx-font-size: 16px;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-cursor: pointer;
    -fx-padding: 6px 10px;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 2, 0);
}
